## AB Test - James

## 0.1 Imports

In [1]:
import pandas as pd
import math
import numpy as np

from statsmodels.stats import api as sms

## 1.0 Load data

In [2]:
#Load the dataset
df_raw = pd.read_csv('../data/ab_data.csv')

In [4]:
#Get the totals of rows and columns
df_raw.shape

(294478, 5)

In [5]:
#get the sample
df_raw.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

## 2.0 - Design of Experiments

### 2.1 Create Hyphotese

### 2.2 Parametes of Experiment

In [6]:
#Confidence Level
confidence_level = 0.95

#significance level
significance_level = 0.05


#conversion of the pages (Actual and New one)

#P1 - The actual conversion
p1 = 0.13
#P2 - The new goal to conversion
p2 = 0.15

#Size of effect 
effect_size = sms.proportion_effectsize(p1, p2)
# OR
# pg.compute.effsize (z, y,  eftype='coken')

#statistic power
power = 0.80

In [12]:
#sample size
sample_n = sms.NormalIndPower().solve_power (
        effect_size,
        power = power,
        alpha = significance_level
)


#round the number and put with INT type.
sample_n = math.ceil(sample_n)
sample_n

4720

## 3.0 - Descriptive Analysis of Data

In [14]:
### 3.1 Number of rows and columns
print('Number of Rows: {}'.format( df_raw.shape[0]))
print('Number of Columns: {}'.format( df_raw.shape[1]))

Number of Rows: 294478
Number of Columns: 5

In [13]:
### 3.2 Check NAs
df_raw.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [15]:
### 3.3 Check the flags if the control and treatment data